/*@import url(http://fonts.googleapis.com/css?family=Antic+Slab);*/

html,body {
  height:100%;
}

h1 {
  font-family: 'Nobile';
  font-size:80px;
  /*color:#DDCCEE;*/
  color: 'white';
}

.lead {
  /*color:#DDCCEE;*/
  color: 'white';
}


/* Custom container */
.container-full {
  margin: 0 auto;
  width: 100%;
  min-height:100%;
  /*background-color:#110022;*/
  background-color: 'white';
  color:#eee;
  overflow:hidden;
  pointer-events: fill;
}

.container-full a {
  color:#efefef;
  text-decoration:none;
}

.v-center {
  margin-top:3%;
}
